{{#each comments as |comment|}}
  <div class='row mb-4 blog_post'>
    <div class='col-md-5'>
      <p>Created by
        {{comment.user.name}}
        on
        {{format_date comment.date_created}}
    </div>
    <div class='col-md-7'>
      <p>
        {{comment.content}}
      </p>
    </div>
  </div>
{{/each}}